<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <% form.label :first_item %>
    <%= form.text_field :first_item, class: "form-control", placeholder: "First item" %>
    <% form.label :created %>
    <br>
    <%= form.check_box :created, class: "form-control-input", type: "checkbox" %>
  </div>
  <div class="field form-group">
    <% form.label :title %>
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="field form-group">
    <% form.label :content %>
    <%= form.text_area :content, class: "form-control", rows: "13", placeholder: "Content" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
