<h1>Tasks<small class='h'>❦</small>List</h1>

<div class="panel panel-default">
  <table class="table table-curved table-outline-success table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>First⧁item</th>
      <th>Created</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3">CRUD⧁Area</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.first_item %></td>
        <td><%= check_box_tag 'task', '1', task.created, :disabled => true, class: 'check' %></td>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= link_to 'Show', task, class: 'btn btn-outline-info' %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-outline-warning' %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Task', new_task_path, class: 'btn btn-outline-dark btn-block' %>
