<div class="jumbotron">
<h4 class="display-6">
| <%= @task.first_item %> |
<br>
| <%= @task.created %>    |
</h4>
<p>
| <%= @task.title %>      |
| <%= @task.content %>    |
</p>
<br>
<hr class="my-6">
<br>
<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-warning' %>
<%= link_to 'Back', tasks_path, class: 'btn btn-success' %>

</div>

