<p id="notice"><%= notice %></p>

<p>
  <strong>First item:</strong>
  <%= @task.first_item %>
</p>

<p>
  <strong>Created:</strong>
  <%= @task.created %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
