<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to 'Rails☘Folks', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'About⧁Us', home_about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Tasks', tasks_path, class: 'nav-link' %>
      </li>
      <!-- <li class="nav-item">
        <%= link_to 'New⧁Task', new_task_path, class: 'nav-link' %>
      </li> -->

      <!-- Users -->
      <% if user_signed_in? %>

      <li class="nav-item">
        <%= link_to 'New⧁Task', new_task_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign⧁Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Edit', edit_user_registration_path, class: 'nav-link' %>
      </li>

      <% else %>

      <li class="nav-item">
        <%= link_to 'Sign⧁Up', new_user_registration_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign⧁In', new_user_session_path, class: 'nav-link' %>
      </li>

      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://duckduckgo.com">D*ckD*ckGo</a>
          <a class="dropdown-item" href="https://search.yahoo.com">Yah*o!</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://google.com">G**gle</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="No Spiders here.. 🕷" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">🕸 Search</button>
    </form>
  </div>
</nav>

<div class="footer">
  <p></p>
  <p>Created by <a id="link" href="https://github.com/dantes47/railsfolks">DannyⓒElmob</a> for << <a href="https://rubygarage.org">RubyGarage❦</a></p>
</div>
